
$direction: ltr;
$MainFontSize: 12px;
$MainFontColor: #aaadb1;
$MainBackgroundColor: #f7f8fd;
$Color1: #373e6a;
$Color2: #93969c;
$Color3: #d3d3de;
$MenuItemsBackgroundColor: #6caef5;
$MenuItemsBackgroundGradient: linear-gradient(to right, #6caef5 20%, #aa3fe5 79%, #e69191);
$MenuItemsTextGradient: linear-gradient(to right, #a0b8f7 20%, #bf97fa 79%, #d88cf8);
$ListSortByColor: #868eb2;
$ListSortByValueColor: #c7d2e6;
$ListingItemBgColor: #fff;
$ListingItemsSpacing: 1.5rem;
